// Place all the styles related to the Holes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: black; /* "mind stay clear" #43AEA8*/
  font-family: helvetica;
  font-size: 15pt;
  width: 1000px;
  margin: auto;
  padding: 10px;
}

div {
  width: 1000px;
  margin: auto;
}

container {
  width: 1000px;
  background-color: white;
  margin: auto;
  padding: 10px 35px 10px 35px;
}

h1 {
  text-align: center;
}
table.Hole{
  margin: auto;
  font-size: 20pt;
  background-color: #D9CEB2;
  border: 1px solid white;
  border-radius: 10px;

}

td {
	color: #382D2C;
  border: 1px solid black;
}