// Place all the styles related to the Holes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.Hole{
  font-size: 16pt;
  background-color: #D9CEB2;
  border: 1px white;
  border-radius: 10px;
}

td {
	color: #382D2C;
}