body {
  background: #49708A; /* "mind stay clear" #43AEA8*/
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15pt;
}

#container {
  position: relative;
  width: 100%;
  background-color: #D0E0EB;
  padding: 10px 35px 10px 35px;
}